<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Fonctionnaires</h4>

                              </div>
                          </div>
                    </div>
                    <!-- end page title -->

                    <!-- start add user-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                  <% if(locals.flash){%>
                                    <div
                                      class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') ? 'danger' : 'success' %> alert-dismissible fade show"
                                      role="alert"
                                    >
                                      <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"
                                      ></button>
                                      <strong><%= Object.keys(locals.flash)[0] %> !</strong>
                                      <%=locals.flash.Error || locals.flash.Success%>
                                    </div>
                                    <%}%>

                                    <div
                                          class="alert alert-dismissible alert-success fade"
                                          role="alert"
                                          id="alert"
                                        >
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"
                                          ></button>
                                          <strong>Success !</strong>
                                        </div>

                                    <h4 class="card-title">Ajouter un nouveau fonctionnaire</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam voluptate sunt cum nam. Voluptatibus excepturi veniam accusantium vel sit?</p>
                                    <div class="mb-3 row"></div>

                                  <form id="add">

                                  <!-- First Name -->
                                    <div class="mb-3 row">
                                      <label for="example-text-input" class="col-md-2 col-form-label">First Name</label>
                                      <div class="col-md-10">
                                          <input class="form-control" name="firstName" id="firstName1" type="text" placeholder="First Name" required>
                                      </div>
                                    </div>

                                  <!-- Last Name -->
                                  <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Last Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="lastName" id="lastName1" type="text" placeholder="Last Name" required>
                                    </div>
                                </div>

                                <!-- Fonction -->
                                <div class="mb-3 row">
                                  <label for="example-text-input" class="col-md-2 col-form-label">Fonction</label>
                                  <div class="col-md-10">
                                    <select class="form-control select2" name="fonction" id="fonction1" required>
                                      <option value="">Selectionnez une fonction</option>
                                      <% data2.forEach(el2 => { %>
                                        <option value="<%=el2.name%>"><%=el2.name%></option>
                                      <% }) %>
                                    </select>
                                  </div>
                                </div>

                              <!-- Submit-->
                              <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                  <button type="submit" class="btn btn-primary w-md" id="noLoader">Submit <i class="uil uil-arrow-right ms-2"></i></button>
                                  <button class="btn btn-primary hidden" type="button"  id="loader" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                  </button>
                                </div>
                            </div>

                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end add user -->

                    <!-- start user list-->
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">

                              <h4 class="card-title">Liste de fonctionnaires</h4>
                              <p class="card-title-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, qui.</p>

                              <div class="table-responsive" id="refresh">
                                  <table class="table table-striped mb-0">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Fonction</th>
                                              <th class="action">Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <% data && data.forEach((el, index) => { %>
                                            <tr>
                                              <th scope="row"><%=index+1%></th>
                                              <td><%=el.firstName%></td>
                                              <td><%=el.lastName%></td>
                                              <td><%=el.fonction%></td>
                                              <td class="action">
                                                <button type="button" class="px-3 text-primary update" data-bs-toggle="modal" data-bs-target=".edit" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-pen font-size-18"></i></button>
                                                <button type="button" class="px-3 text-danger remove" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-trash-alt font-size-18"></i></button>
                                              </td>
                                          </tr>
                                          <% }) %>
                                      </tbody>
                                  </table>
                              </div>

                          </div>
                      </div>
                      </div>
                    </div>
                    <!-- end user list-->

                  </div>
                  <!-- end container -->

                  </div>
                  <!-- container-fluid -->

              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./editFonctionnaire.ejs') %>
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

       <!-- plugins -->
       <script src="/assets/libs/select2/js/select2.min.js"></script>
       <script src="/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
       <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
       <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
       <script src="/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
       <script src="/assets/libs/%40chenfengyuan/datepicker/datepicker.min.js"></script>

       <!-- init js -->
       <script src="/assets/js/pages/form-advanced.init.js"></script>

       <script src="/assets/js/app.js"></script>

       <script>
         // CREATE ELEMENT
         $(document).ready(function () {
          $("#add").submit(function (event) {
                    var formData = {
                        firstName: $("#firstName1").val(),
                        lastName: $("#lastName1").val(),
                        fonction: $("#fonction1").val()
                    };

                    $('#noLoader').addClass('hidder')
                    $('#loader').removeClass('hidder')

                    $.ajax({
                    type: "POST",
                    url: "/fonctionnaire/create",
                    data: formData,
                    dataType: "json",
                    encode: true,
                    }).done(function (data) {
                        console.log(data)
                        $('#alert').addClass('show')
                        $('#loader').addClass('hidder')
                        $('#noLoader').removeClass('hidder')
                        $('#refresh').load(document.URL +  ' #refresh');
                    });

                    event.preventDefault();
                });

         });

       </script>

       <script>
        $(document).ready(function () {

          // GET BY ID CLICK
          $('body').on('click', '.update',function(){
              const id =  $(this).attr('data-id');
              const API = $(this).attr('data-api');

              //GET ELEMENTS
              $.get(`${API.trim()}/fonctionnaire/${id}`, function(data, status){
                document.getElementById("firstName").value = data.firstName;
                document.getElementById("lastName").value = data.lastName;
                document.getElementById("selected").value = data.fonction;

                //UPDATE ELEMENTS
                $("#form").submit(function (event) {
                  var formData = {
                        firstName: $("#firstName").val(),
                        lastName: $("#lastName").val(),
                        fonction: $("#fonction").val()
                    };

                    $('#noLoader2').addClass('hidder')
                    $('#loader2').removeClass('hidder')

                    $.ajax({
                    type: "POST",
                    url: `${API.trim()}/fonctionnaire/${id}?_method=PUT`,
                    data: formData,
                    dataType: "json",
                    encode: true,
                    }).done(function (data) {
                        $('#update').removeClass('hidden')
                        $('#refresh').load(document.URL +  ' #refresh');
                    });

                    event.preventDefault();
                });

              });
              });

              //DELETE FORM
              $('body').on('click', '.remove',function(){
                $('.alert').alert()
                const id =  $(this).attr('data-id');
                const API = $(this).attr('data-api');
              $.post(`${API.trim()}/fonctionnaire/${id}?_method=DELETE`, function(data, status){
                $('#alert').addClass('show');
                $('#refresh').load(document.URL +  ' #refresh');
              });
              });

        });
        </script>
