<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Instructions</h4>

                              </div>
                          </div>
                      </div>
                      <!-- end page title -->
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Ajoutez une lettre d'instruction</h4>
                                    <div class="mb-3 row"></div>
                                    <form action="/create/instruction" method="POST">
                                      <div class="row">
                                        <div class="col-lg-12">
                                           <!-- Date-->
                                           <div class="mb-3" id="date">
                                            <label class="form-label">Date d'emission</label>
                                            <div class="input-group" id="datepicker2">
                                              <input
                                                type="text"
                                                class="form-control"
                                                placeholder="dd M, yyyy"
                                                data-date-format="dd M, yyyy"
                                                data-date-container="#datepicker2"
                                                data-provide="datepicker"
                                                name="date"
                                                data-date-autoclose="true"
                                              />

                                              <span class="input-group-text"
                                                ><i class="mdi mdi-calendar"></i
                                              ></span>
                                            </div>
                                            <!-- input-group -->
                                          </div>

                                          <!-- Montant-->
                                          <div class="mb-3" id="montant">
                                            <label class="form-label"
                                              >Montant de la lettre d'instruction</label
                                            >
                                            <div class="input-group mb-2">
                                              <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                              </div>
                                              <input
                                                type="number"
                                                class="form-control"
                                                name="montant"
                                                id="inlineFormInputGroup"
                                                placeholder="Montant"
                                              />
                                            </div>
                                          </div>

                                          <!--List Agent -->
                                          <div class="mb-3">
                                            <label class="form-label"
                                              >Agent d'affectation</label
                                            >
                                            <select class="form-control select2" name="agent">
                                              <option>Cliquer pour selectionner un agent</option>
                                              <% data.forEach(el => { %>
                                                <option value="<%=el.firstName%> <%=el.lastName%>"><%=el.firstName%> <%=el.lastName%></option>
                                              <% }) %>
                                            </select>
                                          </div>

                                          <!-- Libele-->
                                          <div class="mb-3">
                                            <label class="form-label" for="default-input"
                                              >Libellé</label
                                            >
                                            <input
                                              class="form-control"
                                              type="text"
                                              id="default-input"
                                              name="libelle"
                                              placeholder="Libellé"
                                            />
                                          </div>

                                          <!-- Déscription-->
                                          <div class="mb-3">
                                            <label class="form-label" for="default-input"
                                              >Description</label
                                            >
                                            <textarea
                                              class="form-control"
                                              rows="3"
                                              name="description"
                                              placeholder="Description"
                                            ></textarea>
                                          </div>

                                          <!-- Submit-->
                                          <div class="mb-3">
                                            <button
                                              type="submit"
                                              class="btn btn-primary waves-effect waves-light"
                                            >
                                              Enregistrer <i class="uil uil-arrow-right ms-2"></i>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </form>
                            </div>
                        </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- plugins -->
      <script src="/assets/libs/select2/js/select2.min.js"></script>
      <script src="/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
      <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
      <script src="/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
      <script src="/assets/libs/%40chenfengyuan/datepicker/datepicker.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/form-advanced.init.js"></script>

      <script src="/assets/js/app.js"></script>
