<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Cartographes</h4>

                              </div>
                          </div>
                      </div>
                      <!-- End page title -->

                      <!-- Start Data table-->
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Liste de cartographes</h4>
                                    <p class="card-title-desc">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, enim nemo inventore totam aliquid aut reiciendis labore dolores voluptate quod id, minima in eos at perferendis officia sunt et quam.
                                    </p>

                                    <div style="margin: 20px;">
                                        <code>
                                            <div class="badge bg-soft-success font-size-12" style="margin-left: 15px;">
                                                <i class="fas fa-check-circle"></i>
                                            </div>
                                            Mobile Money
                                        </code>
                                    </div>

                                    <% if(locals.flash){%>
                                        <div
                                          class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') ? 'danger' : 'success' %> alert-dismissible fade show"
                                          role="alert"
                                        >
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"
                                          ></button>
                                          <strong><%= Object.keys(locals.flash)[0] %> !</strong>
                                          <%=locals.flash.Error || locals.flash.Success%>
                                        </div>
                                        <%}%>

                                        <div
                                          class="alert alert-success alert-dismissible fade show hidden"
                                          role="alert"
                                          id="alert"
                                        >
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"
                                          ></button>
                                          <strong>Deleted !</strong>
                                        </div>

                                    <table id="cartographe" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Postnom</th>
                                            <th>Airtel</th>
                                            <th>Vodacom</th>
                                            <th>Email</th>
                                            <th class="action">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <% data.forEach((el, index) => { %>
                                            <tr>
                                                <td><%=index + 1%> </td>
                                                <td><%=el.firstName%></td>
                                                <td><%=el.lastName%></td>
                                                <td>
                                                    <%=el.airtel%>
                                                    <% if (el.airtelMoney==='Yes') { %>
                                                        <div class="badge bg-soft-success font-size-12" style="margin-left: 15px;">
                                                            <i class="fas fa-check-circle"></i>
                                                        </div>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <%=el.vodacom%>
                                                    <% if (el.mPesa==='Yes') { %>
                                                        <div class="badge bg-soft-success font-size-12" style="margin-left: 15px;">
                                                            <i class="fas fa-check-circle"></i>
                                                        </div>
                                                    <% } %>
                                                </td>
                                                <td><%=el.email%></td>
                                                <td class="action">
                                                    <button type="button" class="px-3 text-primary update" data-bs-toggle="modal" data-bs-target=".editCartographe" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-pen font-size-18"></i></button>
                                                    <button type="button" class="px-3 text-danger remove" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-trash-alt font-size-18"></i></button>
                                                </td>
                                            </tr>
                                        <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                      <!-- End Data Table-->

                  </div>
                  <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./editModalCartographe.ejs') %>
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- Required datatable js -->
      <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <!-- Buttons examples -->
      <script src="/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
      <script src="/assets/libs/jszip/jszip.min.js"></script>
      <script src="/assets/libs/pdfmake/build/pdfmake.min.js"></script>
      <script src="/assets/libs/pdfmake/build/vfs_fonts.js"></script>
      <script src="/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

      <!-- Datatable init js -->
      <script src="/assets/js/pages/datatables.init.js"></script>

      <script src="/assets/js/app.js"></script>


    <script>
    $(document).ready(function () {

      $('body').on('click', '.update',function(){
          const id =  $(this).attr('data-id');
          const API = $(this).attr('data-api');
          $.get(`${API.trim()}/cartographe/${id}`, function(data, status){
            let a = document.getElementById("firstName").value = data.firstName;
            let b = document.getElementById("lastName").value = data.lastName;
            let c = document.getElementById("email").value = data.email;
            let d = document.getElementById("airtel").value = data.airtel;
            const ai = document.getElementById("airtelMoney").value = data.airtelMoney;
            let e = document.getElementById("airtelMoney").checked = ai==='No' ? false : true;
            let f = document.getElementById("vodacom").value = data.vodacom;
            const mp = document.getElementById("mPesa").value = data.mPesa;
            let g = document.getElementById("mPesa").checked = mp ==='No' ? false : true;

            $("#form").submit(function (event) {
                var formData = {
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    email: $("#email").val(),
                    airtel: $("#airtel").val(),
                    airtelMoney: $("#airtelMoney").val(),
                    vodacom: $("#vodacom").val(),
                    mPesa: $("#mPesa").val(),
                };

                $.ajax({
                type: "POST",
                url: `${API.trim()}/cartographe/${id}?_method=PUT`,
                data: formData,
                dataType: "json",
                encode: true,
                }).done(function (data) {
                    console.log(data)
                    $('#update').removeClass('hidden')
                    $('#cartographe').load(document.URL +  ' #cartographe');
                });

                event.preventDefault();
            });

          });
          });

          $('body').on('click', '.remove',function(){
          const id =  $(this).attr('data-id');
          const API = $(this).attr('data-api');
          $.post(`${API.trim()}/cartographe/${id}?_method=DELETE`, function(data, status){
            $('#alert').removeClass('hidden')
            $('#cartographe').load(document.URL +  ' #cartographe');
          });
          });

    });
    </script>
