<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Autres Paiements</h4>
                              </div>
                          </div>
                      </div>
                      <!-- end page title -->

                      <div class="row">
                        <div class="col-lg-12">

                            <% if(locals.flash){%>
                                <div
                                  class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') ? 'danger' : 'success' %> alert-dismissible fade show"
                                  role="alert"
                                >
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                  ></button>
                                  <strong><%= Object.keys(locals.flash)[0] %> !</strong>
                                  <%=locals.flash.Error || locals.flash.Success%>
                                </div>
                                <%}%>

                            <div class="table-responsive mb-4">
                                <table class="table table-centered datatable dt-responsive nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type de paiement</th>
                                            <th>Montant</th>
                                            <th>Bénéficiaire</th>
                                            <th>Réfference</th>
                                            <th>Date</th>
                                            <th style="width: 120px;">Action</th>
                                            <th>Libellé</th>
                                            <th>Province</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% data && data.forEach((el, index) => { %>
                                        <tr>
                                          <td><a href="javascript: void(0);" class="text-dark fw-bold">LI0<%=index + 1 %> </a> </td>
                                          <td>
                                              <%=el.payment%>
                                          </td>
                                          <td>
                                            <%=el.montant%>$
                                          </td>
                                          <td><%=el.firstName%>...</td>
                                          <td><%=el.refference%></td>
                                          <td><%=el.date%></td>

                                          <td>
                                            <button type="button" class="px-3 text-primary update" data-bs-toggle="modal" data-bs-target=".edit" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-pen font-size-18"></i></button>
                                            <button type="button" class="px-3 text-danger remove" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-trash-alt font-size-18"></i></button>
                                            <button type="button" data-bs-toggle="modal" data-bs-target=".instructionPaid" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">Preview <i class="fas fa-eye"></i></button>
                                          </td>
                                          <td><%=el.libelle%></td>
                                          <td><%=el.province%></td>
                                          <td><%=el.description%>...</td>
                                      </tr>
                                       <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    </div>
                    <!-- end row -->


                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->



             <!-- Footer-->
             <%- include('./editPaiementAutre.ejs') %>
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- bootstrap datepicker -->
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

      <!-- Required datatable js -->
      <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

      <!-- Responsive examples -->
      <script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/ecommerce-datatables.init.js"></script>

      <script src="/assets/js/app.js"></script>

      <script>
       $(document).ready(function () {

         // GET BY ID CLICK
         $('body').on('click', '.update',function(){
             const id =  $(this).attr('data-id');
             const API = $(this).attr('data-api');

             //GET ELEMENTS
             $.get(`${API.trim()}/paiement-autres/${id}`, function(data, status){
               document.getElementById("payment").value =  data.payment;
               document.getElementById("montant").value =  data.montant;
               document.getElementById("firstName").value =  data.firstName;
               document.getElementById("refference").value =  data.refference;
               document.getElementById("date").value =  data.date;
               document.getElementById("libelle").value =  data.libelle;
               document.getElementById("province").value =  data.province;
               document.getElementById("description").value =  data.description;

               //UPDATE ELEMENTS
               $("#form").submit(function (event) {
                 var formData = {
                    payment: $("#payment").val(),
                    montant: $("#montant").val(),
                    firstName: $("#firstName").val(),
                    refference: $("#refference").val(),
                    date: $("#date").val(),
                    libelle: $("#libelle").val(),
                    province: $("#province").val(),
                    description: $("#description").val(),
                   };

                   $.ajax({
                   type: "POST",
                   url: `${API.trim()}/paiement-autres/${id}?_method=PUT`,
                   data: formData,
                   dataType: "json",
                   encode: true,
                   }).done(function (data) {
                       $('#update').removeClass('hidden')
                       $('#refresh').load(document.URL +  ' #refresh');
                   });

                   event.preventDefault();
               });

             });
             });

             //DELETE FORM
             $('body').on('click', '.remove',function(){
               const id =  $(this).attr('data-id');
               const API = $(this).attr('data-api');
             $.post(`${API.trim()}/paiement-autres/${id}?_method=DELETE`, function(data, status){
              $('#alert').removeClass('hidden')
               $('#refresh').load(document.URL +  ' #refresh');
             });
             });

       });
       </script>

