<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Liste de lettres d'instruction</h4>

                              </div>
                          </div>
                      </div>
                      <!-- End page title -->

                      <!-- Start Instruction list-->
                      <div class="row">
                        <div class="col-lg-12">

                          <% if(locals.flash){%>
                            <div
                              class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') ? 'danger' : 'success' %> alert-dismissible fade show"
                              role="alert"
                            >
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                              ></button>
                              <strong><%= Object.keys(locals.flash)[0] %> !</strong>
                              <%=locals.flash.Error || locals.flash.Success%>
                            </div>
                            <%}%>

                            <div
                                          class="alert alert-success alert-dismissible fade show hidden"
                                          role="alert"
                                          id="alert"
                                        >
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"
                                          ></button>
                                          <strong>Deleted !</strong>
                                        </div>

                            <div class="table-responsive mb-4" id="refresh">
                                <table class="table table-centered datatable dt-responsive nowrap table-card-list" id="print" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                    <thead>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Montant</th>
                                            <th>Etat</th>
                                            <th>Agent</th>
                                            <th>Libellé</th>
                                            <th>Description</th>
                                            <th style="width: 120px;" data-html2canvas-ignore="true">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                       <% data.forEach((el, index) => { %>
                                        <tr>
                                          <td><a href="javascript: void(0);" class="text-dark fw-bold"><%=index + 1 %> </a> </td>
                                          <td>
                                              <%=el.date%>
                                          </td>
                                          <td>
                                            <%=el.montant%>$
                                          </td>

                                          <td>
                                            <div class="badge bg-soft-<%=el.payment === 'Non' ? 'danger':'success'%> font-size-12"><%=el.payment === 'Non' ? 'Pas payé':'Payé'%> </div>
                                          </td>
                                          <td><%=(el.agent).substring(0,10)%>...</td>
                                          <td><%=el.libelle%></td>
                                          <td><%=(el.agent).substring(0,30)%>...</td>

                                          <td data-html2canvas-ignore="true">
                                            <button type="button" class="px-3 text-danger remove" data-id="<%=el._id%>" data-api="<%=api%>" style="background: transparent; border: none;"><i class="uil uil-trash-alt font-size-18"></i></button>
                                            <button type="button" data-bs-toggle="modal" data-bs-target=".instructionNoPaid" data-api="<%=api%>"  data-id="<%=el._id%>" class="btn btn-primary update btn-sm btn-rounded waves-effect waves-light">Preview <i class="fas fa-eye"></i></button>
                                          </td>
                                      </tr>
                                       <% }) %>
                                    </tbody>
                                </table>
                            </div>

                            <button class="btn btn-primary" onclick="doPdf('print', 'Instruction.pdf')">Imprimer</button>

                        </div>
                    </div>


                      <!-- End Instruction list-->

                      <%- include('./instructionNopaid.ejs') %>
                      <%- include('./instructionPaid.ejs') %>
                      <%- include('./validateInstuction.ejs') %>

                  </div>
                  <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- bootstrap datepicker -->
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

      <!-- Required datatable js -->
      <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

      <!-- Responsive examples -->
      <script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/ecommerce-datatables.init.js"></script>


      <!-- plugins -->
      <script src="/assets/libs/select2/js/select2.min.js"></script>
      <script src="/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
      <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
      <script src="/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
      <script src="/assets/libs/%40chenfengyuan/datepicker/datepicker.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/form-advanced.init.js"></script>

      <script src="/assets/js/app.js"></script>

      <script>
        $(document).ready(function () {

          // GET BY ID CLICK
          $('body').on('click', '.update',function(){
              const id =  $(this).attr('data-id');
              const API = $(this).attr('data-api');


              //GET ELEMENTS
              $.get(`${API.trim()}/instruction/${id}`, function(data, status){
                document.getElementById("date").innerText =  data.date || '--';
                document.getElementById("montant").innerText =  data.montant || '--';
                document.getElementById("nameAgent").innerText =  data.agent || '--';
                document.getElementById("libelle").innerText =  data.libelle || '--';
                document.getElementById("myText").innerText =  data.description || '--';
                document.getElementById("refference").innerText =  data.refference || '--';
                document.getElementById("date2").innerText =  data.date2 || '--';

                if(data.payment==="Oui") {
                  $('#Oui').removeClass('hidden')
                  $('#validBtn').addClass('hidden')
                }else{
                  $('#No').removeClass('hidden')
                }

                $('.instructionNoPaid').on('hide.bs.modal', function (e) {
                  $('#Oui').addClass('hidden')
                  $('#validBtn').removeClass('hidden')
                  $('#No').addClass('hidden')
                })


                //UPDATE ELEMENTS
                $("#form").submit(function (event) {
                  var formData = {
                    date: $("#date").val(),
                    montant: $("#montant").val(),
                    payment: $("#payment").val(),
                     agent: $("#agent").val(),
                     refference: $("#refference").val(),
                     libelle: $("#libelle").val(),
                     description: $("#description").val(),
                     date2: $("#date2").val(),
                    };

                    $.ajax({
                    type: "POST",
                    url: `${API.trim()}/instruction/${id}?_method=PUT`,
                    data: formData,
                    dataType: "json",
                    encode: true,
                    }).done(function (data) {
                        $('#update').removeClass('hidden')
                        $('#refresh').load(document.URL +  ' #refresh');
                    });

                    event.preventDefault();
                });

                $("#validate").submit(function (event) {
                  var formData = {
                    payment: 'Oui',
                    refference: $("#refferenceB").val(),
                    date2: $("#date2B").val(),
                    };

                    $.ajax({
                    type: "POST",
                    url: `${API.trim()}/instruction/${id}?_method=PUT`,
                    data: formData,
                    dataType: "json",
                    encode: true,
                    }).done(function (data) {
                        $('#update').removeClass('hidden')
                        $('#refresh').load(document.URL +  ' #refresh');
                    });
                      // event.preventDefault()
                });

              });
              });

              //DELETE FORM
              $('body').on('click', '.remove',function(){
                const id =  $(this).attr('data-id');
                const API = $(this).attr('data-api');
              $.post(`${API.trim()}/instruction/${id}?_method=DELETE`, function(data, status){
               $('#alert').removeClass('hidden')
                $('#refresh').load(document.URL +  ' #refresh');
              });
              });
        });
        </script>
