<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Cartographes</h4>

                              </div>
                          </div>
                      </div>
                      <!-- End page title -->

                      <!-- Start Data table-->
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Liste de cartographes</h4>
                                    <p class="card-title-desc">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, enim nemo inventore totam aliquid aut reiciendis labore dolores voluptate quod id, minima in eos at perferendis officia sunt et quam.
                                    </p>

                                    <div style="margin: 20px;">
                                        <code>
                                            <div class="badge bg-soft-success font-size-12" style="margin-left: 15px;">
                                                <i class="fas fa-check-circle"></i>
                                            </div>
                                            Mobile Money
                                        </code>
                                    </div>

                                    <% if(locals.flash){%>
                                        <div
                                          class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') ? 'danger' : 'success' %> alert-dismissible fade show"
                                          role="alert"
                                        >
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"
                                          ></button>
                                          <strong><%= Object.keys(locals.flash)[0] %> !</strong>
                                          <%=locals.flash.Error || locals.flash.Success%>
                                        </div>
                                        <%}%>

                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Postnom</th>
                                            <th>Airtel</th>
                                            <th>Vodacom</th>
                                            <th>Email</th>
                                            <th class="action">Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <% data.forEach((el, index) => { %>
                                            <tr>
                                                <td><%=index + 1%> </td>
                                                <td><%=el.firstName%></td>
                                                <td><%=el.lastName%></td>
                                                <td>
                                                    <%=el.airtel%>
                                                    <% if (el.airtelMoney==='Yes') { %>
                                                        <div class="badge bg-soft-success font-size-12" style="margin-left: 15px;">
                                                            <i class="fas fa-check-circle"></i>
                                                        </div>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <%=el.vodacom%>
                                                    <% if (el.mPesa==='Yes') { %>
                                                        <div class="badge bg-soft-success font-size-12" style="margin-left: 15px;">
                                                            <i class="fas fa-check-circle"></i>
                                                        </div>
                                                    <% } %>
                                                </td>
                                                <td><%=el.email%></td>
                                                <td class="action">
                                                    <a href="javascript:void(0);" class="px-3 text-primary"><i class="uil uil-pen font-size-18"></i></a>
                                              <a href="javascript:void(0);" class="px-3 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                      <!-- End Data Table-->

                  </div>
                  <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <% console.log('test de test', data) %>

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- Required datatable js -->
      <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <!-- Buttons examples -->
      <script src="/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
      <script src="/assets/libs/jszip/jszip.min.js"></script>
      <script src="/assets/libs/pdfmake/build/pdfmake.min.js"></script>
      <script src="/assets/libs/pdfmake/build/vfs_fonts.js"></script>
      <script src="/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

      <!-- Datatable init js -->
      <script src="/assets/js/pages/datatables.init.js"></script>

      <script src="/assets/js/app.js"></script>
