<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Rapport de paie</h4>

                              </div>
                          </div>
                      </div>
                      <!-- End page title -->

                      <!-- Start Instruction list-->
                      <div class="row">
                        <div class="col-lg-12">

                          <div><b>Ces données viennent du formulaire en page d'accuel</b></div>

                            <div class="table-responsive mb-4" id="refresh">
                                <table class="table table-centered datatable dt-responsive nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                    <thead>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Bank</th>
                                            <th>Paiement</th>
                                            <th>Montant</th>
                                            <th>Etat</th>
                                            <th>Date</th>
                                            <th>Commentaire</th>
                                            <th style="width: 120px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody
                                       <% data.forEach((el, index) => { %>
                                        <tr>
                                          <td><a href="javascript: void(0);" class="text-dark fw-bold"><%=index + 1%></a> </td>
                                          <td><%=(el.name).substring(0,15)%>...</td>
                                          <td>
                                              <%=el.bank%>
                                          </td>
                                          <td>
                                            <div class="badge bg-soft-primary">
                                              <%=el.fond.substring(0,15)%>...
                                            </div>
                                          </td>
                                          <td>
                                            <%=el.montant ? `${el.montant}$` : '-'%>
                                          </td>
                                          <td>
                                            <div class="badge bg-soft-<%=el.payment === 'Non' ? 'danger':'success'%> font-size-12"><%=el.payment === 'Non' ? 'Pas payé':'Payé'%> </div>
                                          </td>
                                          <td><%=el.date%></td>
                                          <td>
                                            <% if (el.comment) { %>
                                              <%=(el.comment).substring(0,15)%>...
                                             <% }else{ %>
                                               -
                                             <% } %>
                                          </td>
                                          <td>
                                              <button type="button" class="px-3 text-danger remove" data-id="<%=el._id%>" data-api="<%=api%> " style="background: transparent; border: none;"><i class="uil uil-trash-alt font-size-18"></i></button>
                                              <button type="button" data-bs-toggle="modal" data-bs-target=".salaireModal" data-id="<%=el._id%>" data-api="<%=api%> "  class="btn btn-primary update btn-sm btn-rounded waves-effect waves-light">Preview <i class="fas fa-eye"></i></button>
                                          </td>
                                      </tr>
                                       <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                      <!-- End Instruction list-->

                      <%- include('./paiementSalaireDetail.ejs') %>

                  </div>
                  <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->


             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- bootstrap datepicker -->
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

      <!-- Required datatable js -->
      <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

      <!-- Responsive examples -->
      <script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/ecommerce-datatables.init.js"></script>

      <script src="/assets/js/app.js"></script>


      <script>
        $(document).ready(function () {

          // GET BY ID CLICK
          $('body').on('click', '.update',function(){
              const id =  $(this).attr('data-id');
              const API = $(this).attr('data-api');


              //GET ELEMENTS
              $.get(`${API.trim()}/form/${id}`, function(data, status){
                document.getElementById("nameAgent").innerText =  data.name || '--';
                document.getElementById("bank").innerText =  data.bank || '--';
                document.getElementById("fondPaiement").innerText =  data.fond || '--';
                document.getElementById("date").innerText =  data.date || '--';
                document.getElementById("montant").innerText =  data.montant || '--';
                document.getElementById("comment").innerText =  data.comment || '--';

                console.log('Data', data)

                if(data.payment==="Oui") {
                  $('#Oui').removeClass('hidden')
                }else{
                  $('#No').removeClass('hidden')
                }

                $('.salaireModal').on('hide.bs.modal', function (e) {
                  $('#Oui').addClass('hidden')
                  $('#No').addClass('hidden')
                })

              });

              //DELETE FORM
              $('body').on('click', '.remove',function(){
                const id =  $(this).attr('data-id');
                const API = $(this).attr('data-api');
                $.post(`${API.trim()}/form/${id}?_method=DELETE`, function(data, status){
                  $('#alert').removeClass('hidden')
                    $('#refresh').load(document.URL +  ' #refresh');
                    console.log('test', data, status)
                   });
                });
              });

        });
        </script>
