<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Paiements</h4>

                              </div>
                          </div>
                      </div>
                      <!-- end page title -->
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                  <% if(locals.flash){%>
                                    <div
                                      class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') ? 'danger' : 'success' %> alert-dismissible fade show"
                                      role="alert"
                                    >
                                      <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"
                                      ></button>
                                      <strong><%= Object.keys(locals.flash)[0] %> !</strong>
                                      <%=locals.flash.Error || locals.flash.Success%>
                                    </div>
                                    <%}%>

                                    <h4 class="card-title">Ajouter un type de paiement</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam voluptate sunt cum nam. Voluptatibus excepturi veniam accusantium vel sit?</p>
                                    <div class="mb-3 row"></div>
                                    <form action="/create/paiement/60578cae99564a53e3bf0dc0" method="post">

                                  <!-- Paiements -->
                                    <div class="mb-3 row">
                                      <label for="example-text-input" class="col-md-2 col-form-label">Paiements</label>
                                      <div class="col-md-10">
                                          <input class="form-control" name="payment" type="text" placeholder="Salaire (Phase 2)" id="example-text-input">
                                      </div>
                                  </div>

                                  <!-- Description -->
                                  <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Description</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="description" type="text" placeholder="Frais de deplacement" id="example-text-input">
                                    </div>
                                </div>

                                <!-- Montant -->
                                <div class="mb-3 row">
                                  <label for="example-text-input" class="col-md-2 col-form-label">Montant</label>
                                  <div class="col-md-10">
                                      <input class="form-control" name="montant" type="number" placeholder="450 000$" id="example-text-input">
                                  </div>
                              </div>

                              <!-- Submit-->
                              <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                  <button type="submit" class="btn btn-primary w-md">Submit <i class="uil uil-arrow-right ms-2"></i></button>
                                </div>
                            </div>
                          </form>
                            </div>
                                </div>
                            </div>
                        </div> <!-- end col -->


                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Type de paiement actuel</h4>
                              <p class="card-title-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, qui.</p>

                              <div class="table-responsive">
                                  <table class="table table-striped mb-0">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Type de paiement</th>
                                              <th>Description</th>
                                              <th>Montant</th>
                                              <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <% data.forEach((el, index) => { %>
                                            <tr>
                                              <th scope="row"><%=index + 1%></th>
                                              <td><%=el.payment%></td>
                                              <td><%=el.description%></td>
                                              <td><%=el.montant%>$</td>
                                              <td class="action">
                                                <a href="javascript:void(0);" class="px-3 text-primary"><i class="uil uil-pen font-size-18"></i></a>
                                              <a href="javascript:void(0);" class="px-3 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a>
                                              </td>
                                          </tr>
                                          <% }) %>
                                  </tbody>
                                </table>
                              </div>

                          </div>
                      </div>
                      </div>
                    </div>

                    </div>
                    <!-- end row -->


                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->



             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

       <script src="/assets/js/app.js"></script>
